use asdf
use dotenv

export PATH="/Users/geoff/.bun/bin:$PATH"

# use export_alias cc-mentor-staff "CLAUDE_PERSONA=mentor claude --system-prompt-file ./personas/staff-trajectory-mentor.md \"\$@\""
# use export_alias cc-review-professional "CLAUDE_PERSONA=mentor claude --system-prompt-file ./personas/tech-review-professional.md \"\$@\""
# use export_alias cc-personal-assistant "CLAUDE_PERSONA=mentor claude --system-prompt-file ./personas/personal-assistant.md \"\$@\""
# use export_alias cc-systems-designer "CLAUDE_PERSONA=mentor claude --system-prompt-file ./personas/systems-designer.md \"\$@\""
