use asdf
use dotenv

export PATH="/Users/geoff/.bun/bin:$PATH"

use export_alias cc-mentor-staff "claude --system-prompt-file ./personas/staff-trajectory-mentor.md \"\$@\""
use export_alias cc-review-professional "claude --system-prompt-file ./personas/tech-review-professional.md \"\$@\""
